<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        #root_container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #books {
            width: 50%;
            border-collapse: collapse;
        }

        table {
            margin: 25px;
        }

        th {
            text-align: left;
        }

        th, td {
            border-bottom: 1px solid #ddd;
        }

        #errors {
            color: #ff0000
        }
    </style>
</head>
<body>
<div id="root_container">
    <form th:action="@{/books/filter}">
        <div>
            <span>Filters:</span>
        </div>
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="author" th:name="author">
                </td>
                <td>
                    <input type="text" placeholder="book_title" th:name="title">
                </td>
                <td>
                    <input type="text" placeholder="size (pages)" th:name="size">
                </td>
                <td>
                    <input type="submit"  value="filter">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/save}" th:object="${book}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="author" th:field="*{author}">
                </td>
                <td>
                    <input type="text" placeholder="book_title" th:field="*{title}">
                </td>
                <td>
                    <input type="text" placeholder="size (pages)" th:field="*{size}">
                </td>
                <td>
                    <input type="submit" value="save">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p th:errors="*{all}"></p>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/remove}" th:object="${shelfFilter}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="id number" th:field="*{id}">
                </td>
                <td>
                    <input type="text" placeholder="author" th:field="*{author}">
                </td>
                <td>
                    <input type="text" placeholder="book title" th:field="*{title}">
                </td>
                <td>
                    <input type="text" placeholder="size (pages)" th:field="*{size}">
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p th:errors="*{all}"></p>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/uploadFile}" enctype="multipart/form-data">
        <tr>
            <td>
                <input type="file" name="file">
            </td>
            <td>
                <input type="submit" value="upload">
                <span th:if="${nullFileUpload != null}">You should choose file before upload</span>
            </td>
        </tr>
    </form>
    <form th:action="@{/books/downloadFile}">
        <tr>
            <td>
                <input type="text" placeholder="filename" th:name="file">
            </td>
            <td>
                <input type="submit" value="download">
            </td>
        </tr>
    </form>


    <table id="books">
        <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th>size</th>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.size}"></td>
        </tr>
    </table>
</div>
</body>
</html>